@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Mulish%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-TQaGnrH-c: 1%;
  --plasmic-token-unnamed-style-token: var(--token-TQaGnrH-c);
}

.plasmic_default_styles {
  --mixin-DV8jIHzxPud0_font-family: "Inter", sans-serif;
  --mixin-DV8jIHzxPud0_font-size: 16px;
  --mixin-DV8jIHzxPud0_font-weight: 400;
  --mixin-DV8jIHzxPud0_font-style: normal;
  --mixin-DV8jIHzxPud0_color: #535353;
  --mixin-DV8jIHzxPud0_text-align: left;
  --mixin-DV8jIHzxPud0_text-transform: none;
  --mixin-DV8jIHzxPud0_line-height: 1.5;
  --mixin-DV8jIHzxPud0_letter-spacing: normal;
  --mixin-DV8jIHzxPud0_white-space: pre-wrap;
  --mixin-DV8jIHzxPud0_user-select: text;
  --mixin-DV8jIHzxPud0_text-decoration-line: none;
  --mixin-DV8jIHzxPud0_text-overflow: clip;
  --mixin-zZvSScYM2Q3a_color: #000000;
  --mixin-zZvSScYM2Q3a_font-weight: 900;
  --mixin-zZvSScYM2Q3a_font-size: 72px;
  --mixin-zZvSScYM2Q3a_line-height: 1;
  --mixin-zZvSScYM2Q3a_letter-spacing: -4px;
  --mixin-zZvSScYM2Q3a_white-space: pre-wrap;
  --mixin-f2CPbsBKSoV1_color: #000000;
  --mixin-f2CPbsBKSoV1_font-size: 48px;
  --mixin-f2CPbsBKSoV1_font-weight: 700;
  --mixin-f2CPbsBKSoV1_letter-spacing: -1px;
  --mixin-f2CPbsBKSoV1_line-height: 1.1;
  --mixin-f2CPbsBKSoV1_white-space: pre-wrap;
  --mixin-dQFGnoqr1TkF_color: #0070f3;
  --mixin-dQFGnoqr1TkF_white-space: pre-wrap;
  --mixin-ZYJUvVWV1IO4_color: #000000;
  --mixin-ZYJUvVWV1IO4_font-size: 32px;
  --mixin-ZYJUvVWV1IO4_font-weight: 600;
  --mixin-ZYJUvVWV1IO4_letter-spacing: -0.8px;
  --mixin-ZYJUvVWV1IO4_line-height: 1.2;
  --mixin-ZYJUvVWV1IO4_white-space: pre-wrap;
  --mixin-aoKGvSRYgMuA6_color: #000000;
  --mixin-aoKGvSRYgMuA6_font-size: 24px;
  --mixin-aoKGvSRYgMuA6_font-weight: 600;
  --mixin-aoKGvSRYgMuA6_letter-spacing: -0.5px;
  --mixin-aoKGvSRYgMuA6_line-height: 1.3;
  --mixin-aoKGvSRYgMuA6_white-space: pre-wrap;
  --mixin-0TD2evcmJg-F2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0TD2evcmJg-F2_border-bottom-color: #dddddd;
  --mixin-0TD2evcmJg-F2_border-bottom-style: solid;
  --mixin-0TD2evcmJg-F2_border-bottom-width: 1px;
  --mixin-0TD2evcmJg-F2_border-left-color: #dddddd;
  --mixin-0TD2evcmJg-F2_border-left-style: solid;
  --mixin-0TD2evcmJg-F2_border-left-width: 1px;
  --mixin-0TD2evcmJg-F2_border-right-color: #dddddd;
  --mixin-0TD2evcmJg-F2_border-right-style: solid;
  --mixin-0TD2evcmJg-F2_border-right-width: 1px;
  --mixin-0TD2evcmJg-F2_border-top-color: #dddddd;
  --mixin-0TD2evcmJg-F2_border-top-style: solid;
  --mixin-0TD2evcmJg-F2_border-top-width: 1px;
  --mixin-0TD2evcmJg-F2_border-bottom-left-radius: 3px;
  --mixin-0TD2evcmJg-F2_border-bottom-right-radius: 3px;
  --mixin-0TD2evcmJg-F2_border-top-left-radius: 3px;
  --mixin-0TD2evcmJg-F2_border-top-right-radius: 3px;
  --mixin-0TD2evcmJg-F2_font-family: "Inconsolata";
  --mixin-0TD2evcmJg-F2_padding-bottom: 1px;
  --mixin-0TD2evcmJg-F2_padding-left: 4px;
  --mixin-0TD2evcmJg-F2_padding-right: 4px;
  --mixin-0TD2evcmJg-F2_padding-top: 1px;
  --mixin-0TD2evcmJg-F2_white-space: pre-wrap;
  --mixin-jwiGBZxCqr89y_border-left-color: #dddddd;
  --mixin-jwiGBZxCqr89y_border-left-style: solid;
  --mixin-jwiGBZxCqr89y_border-left-width: 3px;
  --mixin-jwiGBZxCqr89y_color: #888888;
  --mixin-jwiGBZxCqr89y_padding-left: 10px;
  --mixin-jwiGBZxCqr89y_white-space: pre-wrap;
  --mixin-Z9_-TaWPzieW5_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Z9_-TaWPzieW5_border-bottom-color: #dddddd;
  --mixin-Z9_-TaWPzieW5_border-bottom-style: solid;
  --mixin-Z9_-TaWPzieW5_border-bottom-width: 1px;
  --mixin-Z9_-TaWPzieW5_border-left-color: #dddddd;
  --mixin-Z9_-TaWPzieW5_border-left-style: solid;
  --mixin-Z9_-TaWPzieW5_border-left-width: 1px;
  --mixin-Z9_-TaWPzieW5_border-right-color: #dddddd;
  --mixin-Z9_-TaWPzieW5_border-right-style: solid;
  --mixin-Z9_-TaWPzieW5_border-right-width: 1px;
  --mixin-Z9_-TaWPzieW5_border-top-color: #dddddd;
  --mixin-Z9_-TaWPzieW5_border-top-style: solid;
  --mixin-Z9_-TaWPzieW5_border-top-width: 1px;
  --mixin-Z9_-TaWPzieW5_border-bottom-left-radius: 3px;
  --mixin-Z9_-TaWPzieW5_border-bottom-right-radius: 3px;
  --mixin-Z9_-TaWPzieW5_border-top-left-radius: 3px;
  --mixin-Z9_-TaWPzieW5_border-top-right-radius: 3px;
  --mixin-Z9_-TaWPzieW5_font-family: "Inconsolata";
  --mixin-Z9_-TaWPzieW5_padding-bottom: 3px;
  --mixin-Z9_-TaWPzieW5_padding-left: 6px;
  --mixin-Z9_-TaWPzieW5_padding-right: 6px;
  --mixin-Z9_-TaWPzieW5_padding-top: 3px;
  --mixin-Z9_-TaWPzieW5_white-space: pre-wrap;
  --mixin-mnhc26YULQc3o_display: flex;
  --mixin-mnhc26YULQc3o_flex-direction: column;
  --mixin-mnhc26YULQc3o_align-items: stretch;
  --mixin-mnhc26YULQc3o_justify-content: flex-start;
  --mixin-mnhc26YULQc3o_list-style-position: outside;
  --mixin-mnhc26YULQc3o_padding-left: 40px;
  --mixin-mnhc26YULQc3o_position: relative;
  --mixin-mnhc26YULQc3o_list-style-type: disc;
  --mixin-mnhc26YULQc3o_white-space: pre-wrap;
  --mixin-4Z1bVZLn05NF9_display: flex;
  --mixin-4Z1bVZLn05NF9_flex-direction: column;
  --mixin-4Z1bVZLn05NF9_align-items: stretch;
  --mixin-4Z1bVZLn05NF9_justify-content: flex-start;
  --mixin-4Z1bVZLn05NF9_list-style-position: outside;
  --mixin-4Z1bVZLn05NF9_padding-left: 40px;
  --mixin-4Z1bVZLn05NF9_position: relative;
  --mixin-4Z1bVZLn05NF9_list-style-type: decimal;
  --mixin-4Z1bVZLn05NF9_white-space: pre-wrap;
  --mixin-A6OOoUKVTlelB_color: #000000;
  --mixin-A6OOoUKVTlelB_font-size: 20px;
  --mixin-A6OOoUKVTlelB_font-weight: 600;
  --mixin-A6OOoUKVTlelB_letter-spacing: -0.3px;
  --mixin-A6OOoUKVTlelB_line-height: 1.5;
  --mixin-A6OOoUKVTlelB_white-space: pre-wrap;
  --mixin-L-ZO9snnMZqqO_color: #000000;
  --mixin-L-ZO9snnMZqqO_font-size: 16px;
  --mixin-L-ZO9snnMZqqO_font-weight: 600;
  --mixin-L-ZO9snnMZqqO_line-height: 1.5;
  --mixin-L-ZO9snnMZqqO_white-space: pre-wrap;
  --mixin-Sb5uf-9bEORXT_color: #3291ff;
  --mixin-Sb5uf-9bEORXT_white-space: pre-wrap;
  --mixin-tXSz-yiZ-5eEs_white-space: pre-wrap;
  --mixin-ZeFWvuUJ3ZVyz_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-DV8jIHzxPud0_font-family);
  font-size: var(--mixin-DV8jIHzxPud0_font-size);
  font-weight: var(--mixin-DV8jIHzxPud0_font-weight);
  font-style: var(--mixin-DV8jIHzxPud0_font-style);
  color: var(--mixin-DV8jIHzxPud0_color);
  text-align: var(--mixin-DV8jIHzxPud0_text-align);
  text-transform: var(--mixin-DV8jIHzxPud0_text-transform);
  line-height: var(--mixin-DV8jIHzxPud0_line-height);
  letter-spacing: var(--mixin-DV8jIHzxPud0_letter-spacing);
  white-space: var(--mixin-DV8jIHzxPud0_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-zZvSScYM2Q3a_color);
  font-weight: var(--mixin-zZvSScYM2Q3a_font-weight);
  font-size: var(--mixin-zZvSScYM2Q3a_font-size);
  line-height: var(--mixin-zZvSScYM2Q3a_line-height);
  letter-spacing: var(--mixin-zZvSScYM2Q3a_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-f2CPbsBKSoV1_color);
  font-size: var(--mixin-f2CPbsBKSoV1_font-size);
  font-weight: var(--mixin-f2CPbsBKSoV1_font-weight);
  letter-spacing: var(--mixin-f2CPbsBKSoV1_letter-spacing);
  line-height: var(--mixin-f2CPbsBKSoV1_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-dQFGnoqr1TkF_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-ZYJUvVWV1IO4_color);
  font-size: var(--mixin-ZYJUvVWV1IO4_font-size);
  font-weight: var(--mixin-ZYJUvVWV1IO4_font-weight);
  letter-spacing: var(--mixin-ZYJUvVWV1IO4_letter-spacing);
  line-height: var(--mixin-ZYJUvVWV1IO4_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-aoKGvSRYgMuA6_color);
  font-size: var(--mixin-aoKGvSRYgMuA6_font-size);
  font-weight: var(--mixin-aoKGvSRYgMuA6_font-weight);
  letter-spacing: var(--mixin-aoKGvSRYgMuA6_letter-spacing);
  line-height: var(--mixin-aoKGvSRYgMuA6_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-0TD2evcmJg-F2_font-family);
  border-radius: var(--mixin-0TD2evcmJg-F2_border-top-left-radius)
    var(--mixin-0TD2evcmJg-F2_border-top-right-radius)
    var(--mixin-0TD2evcmJg-F2_border-bottom-right-radius)
    var(--mixin-0TD2evcmJg-F2_border-bottom-left-radius);
  padding: var(--mixin-0TD2evcmJg-F2_padding-top)
    var(--mixin-0TD2evcmJg-F2_padding-right)
    var(--mixin-0TD2evcmJg-F2_padding-bottom)
    var(--mixin-0TD2evcmJg-F2_padding-left);
  border-top: var(--mixin-0TD2evcmJg-F2_border-top-width)
    var(--mixin-0TD2evcmJg-F2_border-top-style)
    var(--mixin-0TD2evcmJg-F2_border-top-color);
  border-right: var(--mixin-0TD2evcmJg-F2_border-right-width)
    var(--mixin-0TD2evcmJg-F2_border-right-style)
    var(--mixin-0TD2evcmJg-F2_border-right-color);
  border-bottom: var(--mixin-0TD2evcmJg-F2_border-bottom-width)
    var(--mixin-0TD2evcmJg-F2_border-bottom-style)
    var(--mixin-0TD2evcmJg-F2_border-bottom-color);
  border-left: var(--mixin-0TD2evcmJg-F2_border-left-width)
    var(--mixin-0TD2evcmJg-F2_border-left-style)
    var(--mixin-0TD2evcmJg-F2_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-jwiGBZxCqr89y_color);
  padding-left: var(--mixin-jwiGBZxCqr89y_padding-left);
  border-left: var(--mixin-jwiGBZxCqr89y_border-left-width)
    var(--mixin-jwiGBZxCqr89y_border-left-style)
    var(--mixin-jwiGBZxCqr89y_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-Z9_-TaWPzieW5_font-family);
  border-radius: var(--mixin-Z9_-TaWPzieW5_border-top-left-radius)
    var(--mixin-Z9_-TaWPzieW5_border-top-right-radius)
    var(--mixin-Z9_-TaWPzieW5_border-bottom-right-radius)
    var(--mixin-Z9_-TaWPzieW5_border-bottom-left-radius);
  padding: var(--mixin-Z9_-TaWPzieW5_padding-top)
    var(--mixin-Z9_-TaWPzieW5_padding-right)
    var(--mixin-Z9_-TaWPzieW5_padding-bottom)
    var(--mixin-Z9_-TaWPzieW5_padding-left);
  border-top: var(--mixin-Z9_-TaWPzieW5_border-top-width)
    var(--mixin-Z9_-TaWPzieW5_border-top-style)
    var(--mixin-Z9_-TaWPzieW5_border-top-color);
  border-right: var(--mixin-Z9_-TaWPzieW5_border-right-width)
    var(--mixin-Z9_-TaWPzieW5_border-right-style)
    var(--mixin-Z9_-TaWPzieW5_border-right-color);
  border-bottom: var(--mixin-Z9_-TaWPzieW5_border-bottom-width)
    var(--mixin-Z9_-TaWPzieW5_border-bottom-style)
    var(--mixin-Z9_-TaWPzieW5_border-bottom-color);
  border-left: var(--mixin-Z9_-TaWPzieW5_border-left-width)
    var(--mixin-Z9_-TaWPzieW5_border-left-style)
    var(--mixin-Z9_-TaWPzieW5_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-mnhc26YULQc3o_display);
  flex-direction: var(--mixin-mnhc26YULQc3o_flex-direction);
  align-items: var(--mixin-mnhc26YULQc3o_align-items);
  justify-content: var(--mixin-mnhc26YULQc3o_justify-content);
  list-style-position: var(--mixin-mnhc26YULQc3o_list-style-position);
  padding-left: var(--mixin-mnhc26YULQc3o_padding-left);
  position: var(--mixin-mnhc26YULQc3o_position);
  list-style-type: var(--mixin-mnhc26YULQc3o_list-style-type);
  flex-column-gap: var(--mixin-mnhc26YULQc3o_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-4Z1bVZLn05NF9_display);
  flex-direction: var(--mixin-4Z1bVZLn05NF9_flex-direction);
  align-items: var(--mixin-4Z1bVZLn05NF9_align-items);
  justify-content: var(--mixin-4Z1bVZLn05NF9_justify-content);
  list-style-position: var(--mixin-4Z1bVZLn05NF9_list-style-position);
  padding-left: var(--mixin-4Z1bVZLn05NF9_padding-left);
  position: var(--mixin-4Z1bVZLn05NF9_position);
  list-style-type: var(--mixin-4Z1bVZLn05NF9_list-style-type);
  flex-column-gap: var(--mixin-4Z1bVZLn05NF9_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-A6OOoUKVTlelB_color);
  font-size: var(--mixin-A6OOoUKVTlelB_font-size);
  font-weight: var(--mixin-A6OOoUKVTlelB_font-weight);
  letter-spacing: var(--mixin-A6OOoUKVTlelB_letter-spacing);
  line-height: var(--mixin-A6OOoUKVTlelB_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-L-ZO9snnMZqqO_color);
  font-size: var(--mixin-L-ZO9snnMZqqO_font-size);
  font-weight: var(--mixin-L-ZO9snnMZqqO_font-weight);
  line-height: var(--mixin-L-ZO9snnMZqqO_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-Sb5uf-9bEORXT_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
