.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.scrollParallax:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__f5EMj {
  flex-direction: column;
  display: flex;
  position: relative;
  padding-bottom: 275px;
  padding-right: 32px;
  padding-left: 32px;
  background: #f4f8ff;
  width: 100%;
  margin-bottom: 0px;
  align-self: auto;
  min-width: 0;
}
.freeBox__f5EMj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__f5EMj > :global(.__wab_flex-container) > *,
.freeBox__f5EMj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f5EMj > :global(.__wab_flex-container) > picture > img,
.freeBox__f5EMj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f5EMj {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__f5EMj > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__qnmY6 {
  flex-direction: row;
  display: flex;
  width: 100vw;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-self: center;
  padding: 16px;
}
.freeBox__qnmY6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__qnmY6 > :global(.__wab_flex-container) > *,
.freeBox__qnmY6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qnmY6 > :global(.__wab_flex-container) > picture > img,
.freeBox__qnmY6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qnmY6 {
    padding: 32px;
  }
}
.freeBox__xoCHw {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__xoCHw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xoCHw > :global(.__wab_flex-container) > *,
.freeBox__xoCHw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xoCHw > :global(.__wab_flex-container) > picture > img,
.freeBox__xoCHw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xoCHw {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xoCHw > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xoCHw > :global(.__wab_flex-container) > *,
  .freeBox__xoCHw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xoCHw > :global(.__wab_flex-container) > picture > img,
  .freeBox__xoCHw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.img {
  object-fit: cover;
  width: 40px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__b0Hho {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__b0Hho > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__b0Hho > :global(.__wab_flex-container) > *,
.freeBox__b0Hho > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b0Hho > :global(.__wab_flex-container) > picture > img,
.freeBox__b0Hho
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b0Hho > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__b0Hho > :global(.__wab_flex-container) > *,
  .freeBox__b0Hho > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__b0Hho > :global(.__wab_flex-container) > picture > img,
  .freeBox__b0Hho
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2__mHkCk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__t5Hd3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___5IAll {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__kpOLu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__ytKc9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__ikFTx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__meVn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__yBc7J {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__grXr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__sJBm3 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___0NIEo {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___5PEsx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__omUjO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__oiH1D {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fQsZa {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__kBcT {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__m1YEk:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__mxhzW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yyNoD {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__fe1Ni {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__vNzLd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
}
.svg__f7Vmp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___6V3Z2 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__yGp4V {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__kslOi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2__arnmw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__jfTw8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text___5T3Sc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__kl7O {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__mQfGs {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__npBgy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__npBgy {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.text__kzPM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    display: none;
  }
}
.h2__dEren {
  font-family: "Mulish", sans-serif;
  font-size: 40px;
  font-weight: 700;
  height: auto;
  margin: 0px 0px 0px 170px;
}
.h3__zGtNq {
  font-size: 18px;
  font-weight: 400;
  color: #515978;
  transform: skewX(0deg) skewY(0deg);
  font-family: "Mulish", sans-serif;
  padding: 0px 105px 0px 0px;
}
.signUpNowButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 188px;
  left: auto;
  top: auto;
  display: flex;
  margin: 31px 130px 0px 0px;
}
.svg__wN6Ov {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__ncNik {
  color: #ffffff;
  text-align: left;
  font-size: 15px;
  font-style: normal;
  text-decoration-line: none !important;
  padding-right: 0px;
}
.svg__vhUdX {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__whxpj {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: auto;
  max-width: 100%;
  left: 169px;
  top: 379px;
  padding: 8px 0px 8px 8px;
}
.freeBox___7Gj6T {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 8px;
  left: 8px;
  min-width: 0;
  padding: 8px;
}
.svg__miEs8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 13px;
  left: auto;
  top: auto;
  color: #0070f3;
  align-self: auto;
  flex-shrink: 0;
  margin: 5px 0px 0px;
}
.text__ySxPh {
  width: 514px;
  height: auto;
  max-width: 500px;
  font-size: 15px;
  color: #535353;
  font-family: "Mulish", sans-serif;
  padding-right: 1px;
  margin-left: 5px;
  position: absolute;
  left: 24px;
  top: 8px;
  flex-shrink: 0;
}
.link__nwBzC {
  position: absolute;
  color: #535353;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  left: 537px;
  top: 7px;
  font-size: 15px;
  padding-right: 5px;
  width: 100px;
  align-self: flex-start;
  flex-shrink: 0;
}
.freeBox___2CFyg {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  height: auto;
  max-width: 100%;
  left: 168px;
  top: 349px;
  padding: 8px 0px 8px 8px;
}
.freeBox__vPax {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 8px;
  left: 8px;
  min-width: 0;
  padding: 8px;
}
.svg__yTuse {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 13px;
  left: 9px;
  top: 9px;
  color: #0070f3;
  align-self: center;
  flex-shrink: 0;
  margin: 5px 0px 0px;
}
.link__nYvq1 {
  position: absolute;
  color: #535353;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  left: 408px;
  top: 8px;
  font-size: 15px;
}
.text__xwlXz {
  width: 368px;
  height: auto;
  max-width: 500px;
  font-size: 15px;
  color: #535353;
  font-family: "Mulish", sans-serif;
  padding-right: 1px;
  position: absolute;
  left: 30px;
  top: 9px;
  flex-shrink: 0;
}
.link__sGxl5 {
  position: absolute;
  left: 182px;
  top: 323px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
  margin-top: 4px;
  color: #0070f3;
}
.freeBox__pPuqY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 70%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 168px;
  padding: 8px;
}
.iframe:global(.__wab_instance) {
  width: 300px;
  height: 567px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.head:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
